<!DOCTYPE html>
<html lang="EN-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nosilla Marie's Portfolio</title>
    <!--Link to bootswatch css-->
    <link rel="stylesheet" href="assets/css/bootswatch-readable.css">
    <!--Link to my CSS-->
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Allison's Code Portfolio</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="assets/views/about.html">About</a></li>
                    <li><a href="assets/views/contact.html">Contact</a></li>
                    <li><a href="assets/views/portfolio.html">Portfolio</a></li>
                </ul>
            </div>
            <!--.nav-collapse -->
        </div>
    </nav>

    <div class="container main">
        <div class="row whole">
            <div class="col-md-8">
                <div class="row">
                    <div class="page-header">
                        <h2>About Me</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/allison-liederman-profile-picture.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="col-md-9">
                        <p>Hello, my name is Allison Liederman and I am a UCF grad that has recently enrolled in the UCF coding boot camp. I look forward to the challenges ahead and hope to gain a lot of knowledge and skills from the class.</p>
                        <p>For the last 7 years I have been working in a retail store in Miami, FL as a website admin. During that time we have implenented a new ERP, E-Commerce, and Point of Sale System. That process was a long arduous one and my lack in knowledge of how things really work brought me to where I am today. </p>
                        <p>In the long run I hope to be able to leave my current place of emplyment and look for my next big adventure. I want to wake up in the morning excited to do my job and I think coding is what will get me to that.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 links">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Connect With Me:</h3>
                    </div>
                    <div class="panel-body">
                        <a href="https://www.github.com/NosillaMarie">
                            <img alt="Github" id="github" src="assets/img/1496293614_github.svg">
                        </a>
                        <a href="https://www.linkedin.com/in/allison-liederman-0b66a660/">
                            <img id="linkedin" src="assets/img/1496293590_square-linkedin.svg" alt="Linkedin">
                        </a>
                        <a href="https://stackoverflow.com/users/7989129/nosilla">
                            <img id="stackoverflow" src="assets/img/1496293664_stackoverflow.svg" alt="Stackoverflow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright 2017 Allison Liederman</p>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
