<!DOCTYPE html>
<html lang="EN-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nosilla Marie's Portfolio</title>
        <!--Reset CSS-->
        <link rel="stylesheet" href="assets/css/reset.css">
        <!--Link to bootswatch css-->
        <link rel="stylesheet" href="../css/bootswatch-readable.css">
        <!--Link to my CSS-->
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">Allison's Code Portfolio</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index.html">Home</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                    </ul>
                </div>
                <!--.nav-collapse -->
            </div>
        </nav>
        <div class="container main">
            <div class="row whole">
                <div class="col-md-8">
                    <div class="row">
                        <div class="page-header">
                            <h2>Contact Me:</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputName1">Name: <span>*</span></label>
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email: <span>*</span></label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <label>Message: <span>*</span></label>
                                    <textarea class="form-control" rows="6" placeholder="Send me a Message!"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 links">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Connect With Me:</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://www.github.com/NosillaMarie" target="_blank">
                                <img alt="Github" id="github" src="../img/1496293614_github.svg">
                            </a>
                            <a href="https://www.linkedin.com/in/allison-liederman/" target="_blank">
                                <img id="linkedin" src="../img/1496293590_square-linkedin.svg" alt="Linkedin">
                            </a>
                            <a href="https://stackoverflow.com/users/7989129/nosilla" target="_blank">
                                <img id="stackoverflow" src="../img/1496293664_stackoverflow.svg" alt="Stackoverflow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 align="center">Please Send me an e-mail:</h3>
        <h4 align="center">allison@NosillaMarie.com</h4>
        <div class="navbar-default navbar-fixed-bottom">
            <p class="text-muted">Copyright 2017 Allison Liederman</p>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
